<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/etudiants">Etudiants</a>
    <a href="/offres">Offres</a>
    <a href="/partenaires">Partenaires</a>
    <a href="/parametres">Paramètres</a>
  </body>
</html>
