<% include ../layouts/header.ejs %> 


<form method="get" action="/etudiants/valider">

    <div class="form-group">
        <label for="my-input">DA</label>
        <input type="text" name="etudiant_da" id="etudiant_da" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>

    <div class="form-group">
      <label for="my-input">Nom</label>
      <input type="text" name="etudiant_nom" id="etudiant_nom" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Help text</small>
    </div>

    <div class="form-group">
        <label for="my-input">Prenom</label>
        <input type="text" name="etudiant_prenom" id="etudiant_prenom" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
    </div>

    <button class="btn btn-primary" type="submit">Valider ✌</button>

</form>

<form method="post" action="/etudiants">

    <div class="form-group">
      <label for="my-input">Mot de passe</label>
      <input type="text" name="etudiant_mdp_1" id="etudiant_mdp_1" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Help text</small>
    </div>
    
    <div class="form-group">
      <label for="my-input">Confirmer mot de passe</label>
      <input type="text" name="etudiant_mdp_2" id="etudiant_mdp_2" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Help text</small>
    </div>

  <div class="form-group">
    <label for="my-input">Courriel obligatoire</label>
    <input type="text" name="etudiant_courriel_obligatoire" id="etudiant_courriel_obligatoire" class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Help text</small>
  </div>

<!--
  <div class="form-group">
    <label for="">Photo</label>
    <input type="file" class="form-control-file" name="etudiant_photo_file" id="etudiant_photo_file" placeholder="" aria-describedby="fileHelpId">
    <small id="fileHelpId" class="form-text text-muted">Help text</small>
  </div>
-->

    <button class="btn btn-primary" type="submit">Ajouter</button>

</form>


<% include ../layouts/footer.ejs %> 