<% include ../layouts/header.ejs %> 



        <a href="/etudiants/ajouter" class="btn btn-primary" type="button">Ajouter Etudiant</a>
        <br>
        <br>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>DA</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Photo</th>
                    <th>Courriel</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <% for( let etudiant = 0; etudiant < etudiants.length; etudiant++ ) { %>
                        
                    <tr>
                        <td> <%=etudiants[etudiant].da%> </td>
                        <td> <%=etudiants[etudiant].nom%> </td>
                        <td> <%=etudiants[etudiant].prenom%> </td>
                        <td> <%=etudiants[etudiant].photo%> </td>
                        <td> <%=etudiants[etudiant].courriel_obligatoire%> </td>
                        <td> <a href="#">Consulter Profil</a> </td>
                    </tr>
    
                <% } %>
    
            </tbody>
        </table>



        <% include ../layouts/footer.ejs %> 